extends layout

block content

  table(id="summary",class="display", width="100%", cellspacing="0" )
    thead
      tr
        th= '_id'
        th= 'gender'
        th= 'dob'
        th= 'registrationlocation'
        th= 'previouslyregisterrednowoffline'
        th= 'question'
        th= 'collection'
        th= 'createdat'
        th= 'lastmodifiedat'
        th= 'complete'
        th= 'currenthistrict'
        th= 'savedby'
        th= 'version_code'
        th= 'serviceUuid'
        th= 'createdByOfflineUser'
        th= 'latitude'
        th= 'longitude'
        th= 'gps_timestamp'
        th= 'gpsCity'

    tbody
      each val, index in registrations[0]
        tr
          td= val._id
          td= val.gender
          td= val.dob
          td= val.registrationlocation
          td= val.previouslyregisterrednowoffline
          td= val.question
          td= val.collection
          td= val.createdat
          td= val.lastmodifiedat
          td= val.complete
          td= val.currentdistrict
          td= val.savedby
          td= val.version_code
          td= val.serviceuuid
          td= val.createdByOfflineUser
          td= val.latitude
          td= val.longitude
          td= val.gps_timestamp
          td= val.gpsCity

