extends layout

block content

  table(id="summary",class="display", width="100%", cellspacing="0" )
    thead
      tr
        th= '_id'
        th= 'question'
        th= 'collection'
        th= 'createdat'
        th= 'lastmodifiedat'
        th= 'servicelocation'
        th= 'dateofvisit'
        th= 'timeofvisit'
        th= 'completedtreatment'
        th= 'complicationsreferralr'
        th= 'complicationsrefertoclinichospital'
        th= 'continuemonitoring'
        th= 'followupdate'
        th= 'nameofprocedurebeingfollowed'
        th= 'recurrence'
        th= 'referralhospitalr'
        th= 'complete'
        th= 'currentdistrict'
        th= 'savedby'
        th= 'clientid'
        th= 'latitude'
        th= 'longitude'
        th= 'gps_timestamp'
    tbody
      each val, index in records[0]
        tr
          td= val._id
          td= val.question
          td= val.collection
          td= val.createdat
          td= val.lastmodifiedat
          td= val.servicelocation
          td= val.dateofvisit
          td= val.timeofvisit
          td= val.completedtreatment
          td= val.complicationsreferralr
          td= val.complicationsrefertoclinichospital
          td= val.continuemonitoring
          td= val.followupdate
          td= val.nameofprocedurebeingfollowed
          td= val.recurrence
          td= val.referralhospitalr
          td= val.complete
          td= val.currentdistrict
          td= val.savedby
          td= val.clientid
          td= val.latitude
          td= val.longitude
          td= val.gps_timestamp

