extends layout_simple

block content

  table(id="summary",class="display", width="100%", cellspacing="0" )
    thead
      tr
        th= 'template'
        th= 'finger'
        th= '_id'
        th= 'serviceUuid'
        th= 'clientId'
        th= 'gender'
        th= 'dob'
        th= 'district'
        th= 'SimprintsThreshold'
        th= 'SimprintsStatusCode'
        th= 'SimprintsUID'
        th= 'SimprintsError'

    tbody
      each val, index in records
        tr
          td= 'in db'
          td= val.finger
          td= val._id
          td= val.serviceUuid
          td= val.clientId
          td= val.gender
          td= val.dob
          td= val.district
          td= val.SimprintsThreshold
          td= val.SimprintsStatusCode
          td= val.SimprintsUID
          td= val.SimprintsError

