extends layout

block js
  script(src='/components/jquery/dist/jquery.min.js')
  script(src='/components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/components/datatables/media/js/jquery.dataTables.min.js')
  script(src='/js/dataTables.fixedHeader.min.js')
  if ENV_DEVELOPMENT
    script(src='http://localhost:35729/livereload.js')
  script(src='/js/init.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDD91G21jFeq9M0jXTCmkKWjm1P1nulQx4')
  script(src='/utils/KiwiUtils.coffee')

block content

  table(id="summary",class="display", width="100%", cellspacing="0" )
    thead
      tr
        th= '_id'
        th= 'question'
        th= 'collection'
        th= 'createdat'
        th= 'lastmodifiedat'
        th= 'servicelocation'
        th= 'dateofvisit'
        th= 'timeofvisit'
        th= 'refusedsurgeryl'
        th= 'providedepilationconsultationl'
        th= 'visualacuityl'
        th= 'countlashestouchingeyeballl'
        th= 'evidenceofepilationl'
        th= 'photographpreopl'
        th= 'cataractl'
        th= 'cornealopacityl'
        th= 'acceptedsurgeryl'
        th= 'typeofoperationl'
        th= 'clampusedl'
        th= 'suturetypel'
        th= 'excessbleedingl'
        th= 'marginfragmantseveredl'
        th= 'globepuncturel'
        th= 'complicationsreferrall'
        th= 'referralhospitall'
        th= 'refusedsurgeryr'
        th= 'providedepilationconsultationr'
        th= 'visualacuityr'
        th= 'countlashestouchingeyeballr'
        th= 'evidenceofepilationr'
        th= 'photographpreopr'
        th= 'cataractr'
        th= 'cornealopacityr'
        th= 'acceptedsurgeryr'
        th= 'typeofoperationr'
        th= 'clampusedr'
        th= 'suturetyper'
        th= 'excessbleedingr'
        th= 'marginfragmantseveredr'
        th= 'globepuncturer'
        th= 'complicationsreferralr'
        th= 'referralhospitalr'
        th= 'complete'
        th= 'currentdistrict'
        th= 'savedby'
        th= 'clientid'
        th= 'version_code'
        th= 'serviceUuid'
        th= 'createdByOfflineUser'
        th= 'latitude'
        th= 'longitude'
        th= 'gps_timestamp'
        th= 'gpsCity'
        th= 'deviceUuid'
    tbody
      each val, index in records[0]
        tr
          td= val._id
          td= val.question
          td= val.collection
          td= val.createdat
          td= val.lastmodifiedat
          td= val.servicelocation
          td= val.dateofvisit
          td= val.timeofvisit
          td= val.refusedsurgeryl
          td= val.providedepilationconsultationl
          td= val.visualacuityl
          td= val.countlashestouchingeyeballl
          td= val.evidenceofepilationl
          td= val.photographpreopl
          td= val.cataractl
          td= val.cornealopacityl
          td= val.acceptedsurgeryl
          td= val.typeofoperationl
          td= val.clampusedl
          td= val.suturetypel
          td= val.excessbleedingl
          td= val.marginfragmantseveredl
          td= val.globepuncturel
          td= val.complicationsreferrall
          td= val.referralhospitall
          td= val.refusedsurgeryr
          td= val.providedepilationconsultationr
          td= val.visualacuityr
          td= val.countlashestouchingeyeballr
          td= val.evidenceofepilationr
          td= val.photographpreopr
          td= val.cataractr
          td= val.cornealopacityr
          td= val.acceptedsurgeryr
          td= val.typeofoperationr
          td= val.clampusedr
          td= val.suturetyper
          td= val.excessbleedingr
          td= val.marginfragmantseveredr
          td= val.globepuncturer
          td= val.complicationsreferralr
          td= val.referralhospitalr
          td= val.complete
          td= val.currentdistrict
          td= val.savedby
          td= val.clientid
          td= val.version_code
          td= val.serviceuuid
          td= val.createdByOfflineUser
          td= val.latitude
          td= val.longitude
          td= val.gps_timestamp
          td= val.gpsCity
          td= val.deviceuuid

//block js2
//  script.
//    window.onload = function() {
//      var gpsArray = [];
//      var gps = !{JSON.stringify(gpsCitiesString)};
//      gpsArray.push(gps);
//      KiwiUtils.initGPS(gpsArray);
//    }
